.container{
    max-width: 1200px;
    margin: auto 0;
    padding: 20px;
}

.NavPrincip{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.Titulo{
    display: flex;
    margin-right: 50px;
    font-size: 11px;
}

.Text{
    display: flex;
    gap: 80px;
    margin-left: 150px;
}

.Button{
    background-color: #eff1f2;
    padding: 5px 10px;
    border-radius: 5px;
}

.Button:hover{
    background: #95a5a6;
}

.header{
    padding: 90px 0;
    font-size: 35px;
    background: #3A3F47;
    height: 295px;
}

.header h2{
    margin-right: 800px;
    padding-right: 10px;
    font-size: 35px;
}

.header p{
    margin-right: 100px;
    padding: 40px;
    font-size: 10px;;
    margin: 0 20px 0 60px;
}

.SeccionPrin{
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
    margin-left: 42px;
    height: 220px;
    padding-top: 30px;
}

.Columna1{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Columna1 p{
    margin-left: 25px;
}

.Columna2{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Columna2 p{
    margin-left: 25px;
}

.TxtBib{
    font-size: 14px;
}

.circulo{
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 70px;
    margin-top: 15px;
}

.circulo h3{
    padding-top: 4px;
    margin-left: 40px;
}

.SeccionTxt{
    background: #25292f;
    display: flex;
    padding-top: 20px;
    height: 455px;
}

.Seccion2{
    display: 1;
    gap: 20px;
    margin-left: 30px;
    font-size: 20px;
    padding-top: 40px;
    color: whitesmoke;
}

.Seccion2 h4{
    padding-bottom: 10px;
    margin-left: 11px;
}

.Comentarios p{
    font-size: 12px;
    margin-left: 11px;
    padding-top: 12px;
}

.BOX{
    background: #2A2E35;
    height: 350px;
    width: 1150px;
    margin-right: 40px;
    margin-left: 90px;
    display: flex;
    justify-content: space-between;
}

.Box{
    background: #2A2E35;
    width: 90px;
    height: 50px;
    gap: 40px;
    margin-top: 355px;
}

.Box:hover{
    background: #95a5a6;
}

.BOX:hover{
    background: #95a5a6;
}

.CircTex{
    display: flex;
    gap: 10px;
    padding-top: 40px;
    margin-left: 12px;
}

.Circle1 h5{
    font-size: 12px;
    padding-bottom: 5px;
}

.Circle2 h5{
    font-size: 12px;
    padding-bottom: 5px;
}

.Circle1,.Circle2 p{
    font-size: 11px;
    color: whitesmoke;
}


.Circ{
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 20px;
    background: white;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    box-shadow: 0px 0px 5px black;
}

.UltSecc1{
    background: #3A3F47;
    width: auto;
    display: flex;
    padding-bottom: 10px;
    justify-content: center;
}

.UltSecc2{
    background: #3A3F47;
    width: auto;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.BOX1{
    width: 1000px;
    height: 200px;
    background: #2A2E35;
    margin-top: 25px;
    border-right: solid 10px #3A3F47;
}

.BOX1:hover{
    background: #95a5a6;
}

.BOX2{
    width: 265px;
    height: 200px;
    background: #2A2E35;
    margin-top: 25px;
}

.BOX2:hover{
    background: #95a5a6;
}

.BOX3{
    width: 265px;
    height: 200px;
    background: #2A2E35;
}

.BOX3:hover{
    background: #95a5a6;
}

.BOX4{
    width: 1000px;
    height: 200px;
    background: #2A2E35;
    border-left: 10px solid #3A3F47;
}

.BOX4:hover{
    background: #95a5a6;
}