.container{
    max-width: 1200px;
    margin: auto 0;
    padding: 20px;
}

.Cabecera{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    text-decoration: none;
}

.Cabecera h1{
    font-size: 18px;
    margin-right: 45px;
    padding-top: 5px;
}

.Links{
    display: flex;
    gap: 15px; 
    margin-left: 300px;
    padding-top: 5px;
}

.Button{
    display: flex;
    gap: 15px;
    background: #e8f8fa;
    color: black;
    padding: 10px;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
}

.Button :hover{
    background: #3A3F47;
}

.Navegacion{
    background:#3A3F47;
    padding: 10px;
    height: 365px;
    width: auto;
}

.Tx1{
    padding-top: 98px;
    font-size: 80px;
    margin-right: 875px;
}

.Tx2{
    font-size: 80px;
    margin-right: 998px;
}

.Navegacion p{
    padding-top: 36px;
    margin-left: 80px;
    padding-right: 1050px;
    font-size: 8px;
    color: rgb(210, 206, 206);
    text-wrap: 10px;
}


.SeccionPrin{
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
    margin-left: 42px;
    height: 190px;
    padding-top: 30px;
}

.Columna1{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.Columna1 p{
    margin-left: 90px;
    font-size: 13px;
    color:#dbdbdb;
    margin-right: 10px;
}

.Columna2{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.Columna2 p{
    margin-left: 90px;
    font-size: 13px;
    color: #dbdbdb;
    margin-right: 10px;
}

.TxtBib{
    margin-bottom: 10px;
    font-size: 14px;
}

.circulo{
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 70px;
    margin-top: 15px;
    margin-left: 45px;
}

.circulo h3{
    padding-top: 4px;
    margin-left: 43px;
}

.SeccionTxt{
    background: #25292f;
    display: flex;
    padding-top: 20px;
    padding-right: 50px;
    width: 100%;
    height: 479px;
}

.Seccion2{
    display: 1;
    gap: 20px;
    margin-left: 30px;
    font-size: 20px;
    padding-top: 40px;
    color: whitesmoke;
}

.Seccion2 h4{
    padding-bottom: 10px;
    margin-left: 53px;
}

.Comentarios p{
    font-size: 12px;
    padding: 10px 190px 0px 56px;
}

.Circle1 h5{
    font-size: 12px;
    padding-bottom: 5px;
    margin-left: 45px;
}

.Circle2 h5{
    font-size: 12px;
    padding-bottom: 5px;
    margin-left: 45px;
}

.Circle1 p,.Circle2 p{
    font-size: 10px;
    color: whitesmoke;
    margin: 0 100px 0 45px;
}

.Circ{
    margin: 20px 0 10px 45px;
    gap: 20px;
    background: white;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    box-shadow: 0px 0px 5px black;
}

.CircTex{
    display: flex;
    gap: 10px;
    padding-top: 40px;
    margin-left: 12px;
}

.BOX{
    background: #2A2E35;
    height: 350px;
    margin: 10px 20px 0;
    width: 450px;
    display: flex;
    justify-content: center;
}

.Box:hover{
    background: #95a5a6;
}

.BOX:hover{
    background: #95a5a6;
}

.Cajitas{
    display: flex;
    gap: 5px;
    padding-top: 5px;
    margin-left: 21px;
}

.Caja{
    width: 85.5px;
    height: 70px;
    background: #2A2E35;
}

.Caja:hover{
    background: #95a5a6;
}

.UltSecc1{
    background: #3A3F47;
    width: auto;
    display: flex;
    padding-bottom: 10px;
    justify-content: center;
}

.UltSecc2{
    background: #3A3F47;
    width: auto;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.BOX1{
    width: 910px;
    height: 200px;
    background: #2A2E35;
    margin-top: 25px;
    border-right: solid 10px #3A3F47;
}

.BOX1:hover{
    background: #95a5a6;
}

.BOX2{
    width: 288px;
    height: 200px;
    background: #2A2E35;
    margin-top: 25px;
}

.BOX2:hover{
    background: #95a5a6;
}

.BOX3{
    width: 255px;
    height: 200px;
    background: #2A2E35;
}

.BOX3:hover{
    background: #95a5a6;
}

.BOX4{
    width: 948px;
    height: 200px;
    background: #2A2E35;
    border-left: 10px solid #3A3F47;
}

.BOX4:hover{
    background: #95a5a6;
}